* {
    margin: 0;
    padding: 0;
}

.banner h1 {
    font-family: vare;
    color: #5FB404;
    font-size: 40px;
    text-align: center;
}
.banner:hover {
    background: #EFFBFB;
    transition: 1s;
}

.banner {
    width: 92,5%;
    background: #424242;
    clear: both;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center; 
    transition: 1s;
}
@font-face {
    font-family: vare;
    src: url(fuentes/VarelaRound-Regular.ttf);
}
.contenedor{
    position: relative;
    text-align: center;
}
 
.texto-encima{
    font-family: vare;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 20px;
    color: #AFACAC;
}
.texto-encima1{
    font-family: vare;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 200px;
    font-size: 20px;
    color: #AFACAC;
}
.texto-encima2{
    font-family: vare;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 370px;
    font-size: 20px;
    color: #AFACAC;
}
.texto-encima3{
    font-family: vare;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 525px;
    font-size: 20px;
    color: #AFACAC;
}
.texto-encima4{
    font-family: vare;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 700px;
    font-size: 20px;
    color: #AFACAC;
}
.texto-encima5{
    font-family: vare;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 900px;
    font-size: 20px;
    color: #AFACAC;
}
.texto-encima6{
    font-family: vare;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 1095px;
    font-size: 20px;
    color: #AFACAC;
}
.texto-encima7{
    font-family: vare;
    font-weight: bold;
    position: absolute;
    top: 250px;
    left: 1110px;
    font-size: 20px;
    color: #AFACAC;
}

.Precio1{
    position: absolute;
    top: 100px;
    left: 60px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio2{
    position: absolute;
    top: 200px;
    left: 60px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio3{
    position: absolute;
    top: 300px;
    left: 55px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio4{
    position: absolute;
    top: 400px;
    left: 55px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio5{
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio6{
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio7{
    position: absolute;
    top: 300px;
    left: 200px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio8{
    position: absolute;
    top: 400px;
    left: 200px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio9{
    position: absolute;
    top: 100px;
    left: 400px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio10{
    position: absolute;
    top: 200px;
    left: 395px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio11{
    position: absolute;
    top: 300px;
    left: 385px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio12{
    position: absolute;
    top: 400px;
    left: 385px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio13{
    position: absolute;
    top: 100px;
    left: 550px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio14{
    position: absolute;
    top: 200px;
    left: 550px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio15{
    position: absolute;
    top: 300px;
    left: 555px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio16{
    position: absolute;
    top: 400px;
    left: 550px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio17{
    position: absolute;
    top: 100px;
    left: 700px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio18{
    position: absolute;
    top: 200px;
    left: 700px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio19{
    position: absolute;
    top: 300px;
    left: 700px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio20{
    position: absolute;
    top: 400px;
    left: 700px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio21{
    position: absolute;
    top: 100px;
    left: 900px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio22{
    position: absolute;
    top: 200px;
    left: 900px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio23{
    position: absolute;
    top: 300px;
    left: 900px;
    font-size: 30px;
    color: #EFFBFB;
}
.Precio24{
    position: absolute;
    top: 400px;
    left: 900px;
    font-size: 30px;
    color: #EFFBFB;
}
.total{
    position: absolute;
    top: 150px;
    left: 1130px;
    font-size: 50px;
    color: #5FB404;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    background: cornsilk;
}
.total1{
    position: absolute;
    top: 300px;
    left: 1105px;
    font-size: 50px;
    color: #5FB404;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    background: cornsilk;
}

.agregar{
    font-family: vare;
    position: absolute;
    top: 550px;
    left: 130px;
    font-size: 50px;
    color: cornsilk;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    background: #5FB404;
    transition: 0.8s;
    text-decoration: none;
}

.aceptar{
    font-family: vare;
    position: absolute;
    top: 550px;
    left: 850px;
    font-size: 50px;
    color: cornsilk;
    border-top-left-radius:19px;
    border-top-right-radius:16px;
    border-bottom-left-radius:19px;
    border-bottom-right-radius:16px;
    background: #5FB404;
    transition: 0.8s;
}

.agregar:hover {
    box-shadow: 10px 10px 29px #000000;
    transition: 0.8s;
}
.aceptar:hover {
    box-shadow: 10px 10px 29px #000000;
    transition: 0.8s;
}
    
    
